@font-face {
    font-family: Hemi;
    src: local(''), url('../fonts/hemi.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    unicode-range: U+000-5FF; /* Download only latin glyphs */
}

h1.noMargin {margin-bottom: 0;}

.gameSubtitle {
    color: #999;
    font-weight: 300;
}

#gameRatings {
    /*font-family: Hemi;*/
    font-size: 22pt;
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

table.gameAttributes { 
    width: 100%;
    border: 2px solid #CD00FF;
}

td.gameAttributes {
    width: 33%;
    border: 2px solid #CD00FF;
}

td.gameAttributeHeader{
    width: 33%;
    border: 2px solid #CD00FF;
    color: #00C9FF;
    font-weight: 700;
}

div.reqMaterials {
    background-color: rgba(34, 34, 34, .8);
    border: 3px solid #FFA200;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
    padding-top: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;    
}

.alignLeft {text-align: left;}

div.reqMaterials ul li {color: #cccccc;}

table.gameRules {
    border: 3px solid #00C9FF;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    border-collapse: collapse;
    margin-top: 1%;
}

tr.ruleRow1 {
    border: none;
    background-color: rgba(34, 34, 34, .8);
    text-align: left
}

tr.ruleRow2 {
    border: 1px solid;
    border-color: rgba(51, 51, 51, .8);
    color: #00C9FF;
    background-color: rgba(17, 17, 17, .8);
    text-align: left
}

td.ruleNum1,
td.ruleNum2 {
    width: 5%;
    text-align: center;
    font-size: 150%;
    font-weight: 400;
    padding-left: .5%;
}