.update {background-color: #222222; margin: 0px;}
.updateTitle{border-bottom: 4px solid; color: #00C9FF;}
.updateList{text-align: left; margin-top: -10px;}

.announcement{
    background-color: #333333; 
    width: 95%; 
    padding-top: 1px;        
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #CCCCCC;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}
