/*Custom Fonts*/
@font-face {
    font-family: Noto;
    src: local(''), url('../fonts/notosans-light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
    font-family: Noto;
    src: local('Noto Sans'), url('../fonts/noto-sans-v25-latin-regular.woff2') format('woff2'), url('../fonts/notosans-regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    unicode-range: U+000-5FF; 
}

@font-face {
    font-family: Noto;
    src: local('Noto Sans Bold'), url('../fonts/noto-sans-v25-latin-700.woff2') format('woff2'), url('../fonts/notosans-bold.woff2') format('woff2');
    font-style: normal;	
    font-weight: 700;
    unicode-range: U+000-5FF; 
}

b {
    font-family: Noto;
    font-style: normal;
    font-weight: 700;
}

/*Mobile Friendly*/
img {
    max-width: 100%;
}

#banner {
    max-width: 84.375%;
}

/*Main*/

body {
    background-color: #111111;
    color: #cccccc;
    font-family: Noto;    
    font-weight: 300;
    font-size: 14pt;
    max-width: 1280px;
    margin: auto;
}

footer {
    max-width: 1280px;
}

#content {
    background-color: #222222;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .8%;
    padding-bottom: .8%;
    text-align: center;
}

#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;   
    margin-bottom: 5px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.innerContainer{
    max-width: 92%;
    margin: auto;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #333333;
    color: #CCCCCC;
}

input {
    margin: 0;
    padding: 0;
    appearance: none;
}

input[type="checkbox"] {
    content: url('../images/hamburger.gif');
    max-width: 15.625%;
}

input[type="checkbox"]:checked {
    content: url('../images/hamburger_active.gif');
}

#navMenu{
    position: absolute;
    margin-top: -20px;
    background-color: #222222;
    width: 400px;
    height: auto;
    z-index: 1;   
    border: solid;
    border-color: #00C9FF;
    visibility: hidden;
}
.navMenuButton{
    min-height: 125px;
    height: auto;
    width: 400px;
    background-color: #222222;
    border-style: none;
    color: #999999;
    font-family: Tahoma;
    font-size: 42pt;
    font-weight: bold;
    text-decoration: none;
}    

.navMenuButton:hover{background-color: #555555; color: #222222;}

footer {font-family: Noto; max-width: 1280px; margin: auto; text-align: right;}

.noCenter{text-align: left;}

ul > li {color: #00C9FF;}
ul > li > span {color: #cccccc;}

/*Links*/
a:link {color: #00C9FF; text-decoration: none;}
a:link:hover {color: #CD00FF; text-decoration: none;}
a:visited {color: #00C9FF;}
a:visited:hover {color: #CD00FF; text-decoration: none;}

/*Special Font*/

h1{color: #00C9FF; font-size: 32pt;}
.cyan{color: #00C9FF; font-weight: bold;}

/*DropDownList Styling*/
#movieSelect{
    margin: 10px;
    padding: 5px 35px;
    height: 50px;
    width: 720px;
    background: #222;
    border: 2px solid #444;
    font-size: 24px;
    color: #00C9FF; 
    text-align: center;          
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}