button {
    width: 800px;
    background-color: #444444;
    color: #C9C9C9;
    border: none;
    font-family: Noto;
    font-size: 12pt;
    overflow: auto;
}

h2.smallMargin {color: #00C9FF; margin-bottom: 0px;}

#gamesContainer {
    margin: auto;
    margin-top: 2%;    
    max-width: 92%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%; 
    background-color: #333333;   
}

.thirdContainer {
    display: inline-block;
    background-color: #333333; 
    margin-top: 10px;
    margin-bottom: auto;
    max-width: 33%;
    vertical-align: top;
}

.highlighted {background-color: rgba(205,0,255,0.5);}
.highlighted:active {background-color: rgba(218, 72, 255, 0.5);}

.playerPressed {background-color: rgba(205,0,255,0.5); box-shadow: -3px -3px 0px #222222;}

.twoPlayerChoice {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 32px;
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
}

.twoPlayerChoice:active {background-color: #666666;}

.threePlayerChoice {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 32px;
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
}

.threePlayerChoice:active {background-color: #666666;}

.fourPlayerChoice {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 32px;
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
}

.fourPlayerChoice:active {background-color: #666666;}

.sixPlayerChoice {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 32px;
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
}

.sixPlayerChoice:active {background-color: #666666;}

button.twoPlayers {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    font-size: clamp(10pt, 4vmin, 16pt);
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
}

button.twoPlayers:active {background-color: #666666;}

button.threePlayers {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    font-size: clamp(10pt, 4vmin, 16pt);
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
} 

button.threePlayers:active {background-color: #666666;}

button.fourPlayers {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    font-size: clamp(10pt, 4vmin, 16pt);
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
} 

button.fourPlayers:active {background-color: #666666;}

button.sixPlayers {
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    font-size: clamp(10pt, 4vmin, 16pt);
    color: #00C9FF;
    box-shadow: 3px 3px 1px #222222;
} 

button.sixPlayers:active {background-color: #666666;}