/*Table*/
table {
    width: 95%;
    text-align: center; 
    border: 4px solid #00C9FF;
    background-color: #494949;
    padding: 0px; 
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 30px;
    border-bottom: 2px solid #222222;
    border-collapse: collapse;
}

th {
    height: 35px;
    border-left: 2px solid #222222;
    border-collapse: collapse;
    padding-right: 5%;
    color: #00C9FF;
}

th.nopad {
    height: 35px;
    font-size: 18px;
    border-left: 2px solid #222222;
    border-collapse: collapse;
    padding-right: 0%;
}

td {
    border-left: 2px solid #222222;
    border-collapse: collapse;  
    padding-top: 5px;
}

td.rule {padding-right: 5%;}

/*Movie List*/

.movielist {
    background-color: #333333;
    border-spacing: 3px;
    border-collapse: separate;
    font-size: clamp(4pt, 4vmin, 16pt);
    margin: auto;
    min-width: 100%;
}

table.movielist tr {
    background-color: #4b4b4b;
    height: 40px;
    transition: all 0.2s ease;
}

table.movielist tr:hover {
    background: #595959;
    box-shadow: inset 0px 0px 15px #CD00FF;
    height: clamp(50px, 30vw, 75px);
    font-size: clamp(16pt, 4vmin, 20pt);
    opacity: 1; 
}

table.movielist a:link {
    text-decoration: none; 
    transition: all 0.1s ease;
}

table.movielist a:hover {
    color: #CD00FF;
    transition: all 0.1s ease; 
}

table.movielist td {
    border-left: none;
}

table.movielist th {
    font-size: clamp(6pt, 4vmin, 16pt);
    border-left: none;
}

.runtime{
    font-size: clamp(8pt, 3vmin, 14pt); 
    white-space: nowrap;
    text-size-adjust: auto;
}

/*Shows*/

#rulesTable {
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

#rulesTable th {color: #00C9FF;}

/*for shows with multiple tables*/
table.rulesTable {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    font-weight: 300;
    font-size: 14pt;
}

table.rulesTable th {color: #00C9FF;}